@media (min-width: 769px) {
  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* ============================================================ */
  /* HEADER */
  /* ============================================================ */
  .header-line-one {
    justify-content: flex-end;
  }

  .header-line-one a,
  .social-handles a {
    padding: 0.5rem 0.5rem;
    font-size: 1.3rem;
  }

  .social-handles ion-icon {
    font-size: 2rem;
  }

  .logo-section .customer-support {
    display: grid;
  }

  .company-logo {
    justify-content: center;
    margin: 0;
  }

  .company-logo img {
    max-width: 80%;
  }
  .logo-section .customer-support a {
    display: block;
    flex-grow: 2;
    font-size: 2.4rem;
  }
  .logo-section .customer-support img {
    display: block;
    max-width: 100%;
  }

  .logo-section .social-handles {
    display: flex;
    margin-right: 4rem;
  }

  .green-triangle {
    position: absolute;
    background-color: green;
    z-index: -1;
    width: 14%;
    height: 70%;
    top: 1.3em;
    right: 1.4em;
    transform: rotate(45deg);
  }
  /* ................Menu button........................ */
  .menu-btn {
    display: None;
  }

  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }

  /* ............................................................. */

  .navbar {
    position: relative;
    height: auto;
    display: block;
    opacity: 1;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #e9eecf;
    border: none;
  }
  .navbar ul li {
    list-style: none;
  }
  .navbar ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: #838382;
  }
  .navbar .customer-support {
    display: None;
  }

  /* ============================================================ */

  /* ================================================================ */
  /* WORK-INFO */
  /* ================================================================ */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .work-info {
    padding: 10rem;
    text-align: left;
  }

  .work-info img {
    max-width: 100%;
  }

  .first-info {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .upper-info {
    /* grid-column: -1; */
    border-bottom: 1px solid #928f8f;
  }

  .work-info h1 {
    font-size: 3rem;
  }

  .work-info h1::after {
    content: "";
    width: 1.2rem;
    padding: 0.6rem;
    display: block;
    background-color: #ff5395;
    border-radius: 100px 100px 0 0;
  }

  .work-info img {
    max-width: 80%;
  }

  /* ================================================================ */
  /* AI ASSISTED*/
  /* ================================================================ */

  .assistance {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .test-products,
  .product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  .test-products {
    padding: 0;
  }

  .product {
    margin: 0 1.6rem;
    flex-grow: 1;
    align-items: flex-start;
  }
  .first-prod {
    order: 2;
  }
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .categories .category {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .product-img {
    flex-grow: 1;
    max-width: 100%;
  }
  .product-img img {
    max-width: 80%;
  }

  /* ================================================================ */
  /* OUR SERVICES*/
  /* ================================================================ */

  .services {
    position: relative;
    max-width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }

  .service-brief {
    position: absolute;
    top: 1.4em;
    max-width: 31.5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    /* border: 1px solid blue; */
  }

  .sec-two {
    grid-template-columns: 1fr;
  }

  /* ================================================================ */
  /* Membership*/
  /* ================================================================ */

  .section-heading {
    text-align: left;
  }

  .subscription {
    max-width: 90%;
  }

  .available-plans {
    grid-template-columns: repeat(3, 1fr);
  }
  .plan {
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
    gap: 2.8rem;
  }

  .plan-info {
    padding: 0 2.8rem;
    grid-template-columns: 1fr;
    gap: 1.4rem;
  }

  .features {
    grid-template-columns: 1fr;
    font-size: 1.6rem;
  }

  /* ============================================= */
  /* FOOTER  */
  /* ============================================== */

  footer {
    background-color: #c1b796;
  }
  .foot {
    flex-direction: row;
    padding: 4rem 10rem;
    text-align: left;
  }

  .sec * {
    padding: 0.6rem 0;
  }
}
